@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
}

@font-face {
  font-family: "san francisco normal";
  src: url(assets/fonts/SF-Compact-Rounded-Light.otf);
}

svg {
  fill: #8b8b8b;
}

input[type="checkbox"] {
  border-radius: 100%;
  background-color: #212221;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}